{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::${DATA_BUCKET}/raw-data/*"
    },
    {
      "Effect": "Allow",
      "Action": "s3:PutObject",
      "Resource": "arn:aws:s3:::${DATA_BUCKET}/processed-data/*"
    },
    {
      "Effect": "Allow",
      "Action": "textract:AnalyzeDocument",
      "Resource": "*"
    }
  ]
}
